.cont {
  padding-top: 20px;
  display:block;
 background: rgba(34,34,34,.5);
  height: 400px;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
.justtext {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 40px;
}
p {
  padding-top: 20px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.btn {
  margin-top: 60px;
    padding: 20px 60px; /* расстояние от текста до края кнопки */
    background-color: #303030; /* цвет кнопки  */
    box-shadow: 0px 6px #f7f8e8; /* задана тень */
    border-radius: 5px; /* скругление углов */
    font-size: 15px; /* размер шрифта */
    text-transform: uppercase; /* трансформировать в заглавные буквы */
    text-decoration: none; /* не подчеркивать ссылку */
    transition: 0.2s; /* плавный ховер эффект */
    color: #f7f8e8; /* цвет текста на кнопке */
  }
  .btn:hover {
    background-color: #949a9a; /* замена цвета кнопки при наведении */  
}
input {
  background: rgba(251, 251, 251, 0.5);
  height: 40px;
  width: 300px;
  font-size: 20px;
}



